*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(188, 255, 188);
}
.iconoCompras{
    width: 50px;
}

.marca{
    color: rgb(3, 73, 3);
    font-size: 100px;
}

.slogan{
    color: rgb(255, 0, 179);
}

#menu{
    margin: auto;
    width: 500px;
    font-style: oblique;
    font-size: 20px;
}

ul,ol{
    list-style:none;
}

.nav li a{
    background-color: pink;
    color: green;
    text-decoration: none;
    padding: 10px 15px;
    display:block;
}

.nav li a:hover{
    background-color: green;
    color: pink;
    font-style: italic;
}

.nav > li{
    float: left;
}

.nav ul li{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

h3{
    font-size: 40px;
    color: black;
    text-align: center;
}
h4{
    font-size: 40px;
    color: rgb(68, 68, 68);
    text-align: center;
}

.fotoPrimera,
.fotoSegunda,
.fotoTercera{
    width: 400px;
}

.tituloPrimera,
.tituloSegunda,
.tituloTercera{
    color:rgb(3, 73, 3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}